$white: #ffffff;
$dark-blue-grey: #192144;
$dark-blue: #151b36;
$pale-grey: #edeff6;
$light-gold: #ffd74b;
$mango-two: #ff8d30;
$mango: #ffa530;
$mango-three: #ffbd30;
$greyish-brown: #444444;
$black: #000000;
$dark-blue-grey-two: #141b3b;
$dark: #161c35;
$dark-slate-blue: #1d2e5b;
//  check this color
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$dark-blue-grey-three: #121936;
$medium-pink: #ed5565;
$french-blue: #4758a9;
$salmon: #f97676;
$green-apple: #81e31e;

